@editor-width: 49%;
@editor-split: @editor-width + 1%;
@result-width: 100% - @editor-split;
@footer-height: 40px;
@gray-light: #eee;
@gray-light-light: lighten(@gray-light, 5%);
@gray-medium-dark: #888;
@gray-medium: #ccc;
@editor-top: 90px;
@toolbar-formatting-height: 45px;
@background-color: #fff;
@warning: #c03;
@help-height: 400px;

.no-show {
    display: none;
}

#editor,
#result {
    position: absolute;
    bottom: @footer-height;
    padding: 10px;
}

#editor { 
    left: 10px;
    border-right: solid 1px @gray-light;
    top: @editor-top;
    width: @editor-width;
}

#result {
    top: @editor-top;
    left: @editor-split;
    padding-top: 0px; 
    overflow: auto;
    width: @result-width;
    
    h1:first-child {
        margin-top:0;
    }
}

#footer {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height:@footer-height;
    padding:10px;
    border-top: solid 1px @gray-light;
    color: @gray-medium;
    
    &:hover {
        background-color: @gray-light;
    }
}

#file-name-button {
    border: 0;
    box-shadow: none;
    padding: 0;
    height: auto;
    color: @gray-medium-dark;
    background-color: transparent;
}

#formatting-toolbar {
    top:0;
    padding: 10px;
    height: @toolbar-formatting-height;
    width: 100%;
    color: @gray-medium-dark;
    min-width: 660px;
    border-bottom: solid 1px @gray-light;
    
    button {
        background-color: transparent;
        border: 0;
        margin-left: 10px;
        margin-right: 10px;
        padding: 6px;
    }
    
    button:hover {
        background-color: @gray-light;
    }
    
    .separator {
        color:lighten(@gray-light, 1%);
    }
    
    .separator:after {
        content: "|";
    }
}

#lw-tab-container {
    position: relative;
    background: url(images/diagonal-lines.png);
    
    .lw-tabs {
        width: 98%;
        height: 28px;
        overflow: hidden;
        z-index: 200;
        
        .lw-tab {
            position: relative;
            display: inline;
            border:solid 1px @gray-light;
            border-bottom:0;
            border-radius: 3px 3px 0;
            padding: 4px;
            margin: 0 2px 0 2px;

            font-size: 11px;
            background-color: @gray-light-light;
            color: @gray-medium-dark;
            cursor: pointer;
            line-height: 3em;
            font-weight: normal;
            
            &:hover {
                background-color: @gray-light;
            }
            
            button {
                border:0;
                padding:2px;
                margin:0;
                background-color:transparent;
                font-size: 12px;
                
                &:hover {
                    color: @warning;
                }
            }
        }
        
        .active {
            border-bottom: 3px solid @background-color;
            background-color: @background-color;
            z-index: 300;
            color: darken(@gray-medium-dark, 10%);
            font-weight: bold;
            
            &:hover {
                background-color: @background-color;
                border-bottom: inherit;
            }
        }
    } 
    
    .lw-separator {
        position: relative;
        display: block;
        border-top:1px solid @gray-light;
        width: 100%;
        height: 1px;
        z-index: 100;
        top:28px;
    }
}

.admonitionblock {
    margin: 20px 0 20px 0;
    .icon {
        .title {
            display: none;
        }
    }
    
    .content {
        
        .title {
            font-weight: bold;
        }
        
        border-left: 8px solid @gray-light;
        padding-left: 10px;
    }
}

.misspelled { 
    border-bottom: 1px solid @warning; 
    margin-bottom: -1px; 
}

.ace_marker-layer .misspelled { 
    position: absolute; 
    z-index: -2; 
    border-bottom: 1px solid @warning; 
    margin-bottom: -1px; 
}

#help-container {
    position: fixed;
    background-color: @background-color;
    bottom: 0px;
    right: 100px;
    height: @help-height;
    width: 400px;
    border: 1px solid @gray-medium;
    border-radius: 6px 6px 0 0;
    padding: 15px;
    box-shadow: -2px -2px 4px 0px @gray-medium;
    z-index: 100000;
    
    h1 {
        text-transform: uppercase;
        font-size: 0.85em;
        margin:0;
        color: @gray-medium-dark;
        font-weight: bold;
        text-align: center;
    }
    
    .links {
        margin:8px 0 8px 0;
    }
    
    .command {
        position:absolute;
        right: 15px;
        top: 5px;
        
        button {
            border:0px;
        }
    }
}

#help {
    overflow: auto;
    height: @help-height - 65px;
}

.ace_searchbtn,
.ace_replacebtn {
    font-size: 0.7em;
    padding: 4px !important;
}

#build-flags-container {
    text-align: right;
}

button[data-role="build-flag"] {
    margin-left:10px;
}

button[data-role="build-flag"].selected {
    border:2px solid @gray-medium-dark;
}