@editor-width: 49%;
@editor-split: @editor-width + 1%;
@result-width: 100% - @editor-split;
@footer-height: 40px;
@gray-light: #eee;
@gray-medium-dark: #888;
@gray-medium: #ccc;
@editor-top: 50px;

#editor,
#result {
    position: absolute;
    bottom: @footer-height;
    padding: 10px;
}

#editor { 
    left: 10px;
    border-right: solid 1px @gray-light;
    top: @editor-top;
    width: @editor-width; 
}

#result {
    top: @editor-top;
    left: @editor-split;
    padding-top: 0px; 
    overflow: auto;
    width: @result-width;
    
    h1:first-child {
        margin-top:0;
    }
}

#footer {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height:@footer-height;
    padding:10px;
    border-top: solid 1px @gray-light;
    color: @gray-medium;
    
    &:hover {
        background-color: @gray-light;
    }
}

#file-name-button {
    border: 0;
    box-shadow: none;
    padding: 0;
    height: auto;
    color: #999;
    background-color: transparent;
}

#formatting-toolbar{
    top:0;
    padding: 10px;
    height: @editor-top - 5px;
    width: 100%;
    color: @gray-medium-dark;
    min-width: 660px;
    border-bottom: solid 1px @gray-light;
    
    button {
        background-color: transparent;
        border: 0;
        margin-left: 10px;
        margin-right: 10px;
        padding: 6px;
    }
    
    button:hover {
        background-color: @gray-light;
    }
    
    .separator {
        color:lighten(@gray-light, 1%);
    }
    
    .separator:after {
        content: "|";
    }
}