.no-show {
  display: none;
}
.push-down-top-sm {
  margin-top: 15px;
}
#editor {
  position: absolute;
  top: 74px;
  left: 0px;
  bottom: 40px;
  padding: 10px;
}
#result-container {
  display: flex;
}
#result-pane,
#result-button {
  display: flex;
  flex-direction: column;
}
#result-pane {
  width: 50%;
  margin-left: 50.5%;
  overflow: auto;
  height: 100%;
  padding-right: 20px;
}
#result-button {
  width: 22px;
  background-color: #eee;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
#rendering-label {
  position: absolute;
  top: 74px;
  right: 38px;
  font-size: .8em;
  background-color: #eee;
  color: #888;
  padding: 4px;
  opacity: .75;
  display: none;
}
#result-button:hover {
  background-color: #ccc;
}
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 10px;
  border-top: solid 1px #eee;
  color: #ccc;
  z-index: 1000;
}
#footer:hover {
  background-color: #eee;
}
#file-name-button {
  border: 0;
  box-shadow: none;
  padding: 0;
  height: auto;
  color: #888;
  background-color: transparent;
}
#formatting-toolbar {
  top: 0;
  padding: 10px;
  height: 45px;
  width: 100%;
  color: #888;
  min-width: 660px;
  border-bottom: solid 1px #eee;
}
#formatting-toolbar button {
  background-color: transparent;
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px;
}
#formatting-toolbar button:hover {
  background-color: #eee;
}
#formatting-toolbar .separator {
  color: #f1f1f1;
}
#formatting-toolbar .separator:after {
  content: "|";
}
#lw-tab-container {
  position: relative;
  background: url(images/diagonal-lines.png);
}
#lw-tab-container .lw-tabs {
  width: 98%;
  height: 28px;
  overflow: hidden;
  z-index: 200;
}
#lw-tab-container .lw-tabs .lw-tab {
  position: relative;
  display: inline;
  border: solid 1px #eee;
  border-bottom: 0;
  border-radius: 3px 3px 0;
  padding: 4px;
  margin: 0 2px 0 2px;
  font-size: 11px;
  background-color: #fbfbfb;
  color: #888;
  cursor: pointer;
  line-height: 3em;
  font-weight: normal;
}
#lw-tab-container .lw-tabs .lw-tab:hover {
  background-color: #eee;
}
#lw-tab-container .lw-tabs .lw-tab button {
  border: 0;
  padding: 2px;
  margin: 0;
  background-color: transparent;
  font-size: 12px;
}
#lw-tab-container .lw-tabs .lw-tab button:hover {
  color: #c03;
}
#lw-tab-container .lw-tabs .active {
  border-bottom: 3px solid #fff;
  background-color: #fff;
  z-index: 300;
  color: #6f6f6f;
  font-weight: bold;
}
#lw-tab-container .lw-tabs .active:hover {
  background-color: #fff;
  border-bottom: inherit;
}
#lw-tab-container .lw-separator {
  position: relative;
  display: block;
  border-top: 1px solid #eee;
  width: 100%;
  height: 1px;
  z-index: 100;
  top: 28px;
}
.admonitionblock {
  margin: 20px 0 20px 0;
}
.admonitionblock .icon .title {
  display: none;
}
.admonitionblock .content {
  border-left: 8px solid #eee;
  padding-left: 10px;
}
.admonitionblock .content .title {
  font-weight: bold;
}
.misspelled {
  border-bottom: 1px solid #c03;
  margin-bottom: -1px;
}
.ace_marker-layer .misspelled {
  position: absolute;
  z-index: -2;
  border-bottom: 1px solid #c03;
  margin-bottom: -1px;
}
#help-container {
  position: fixed;
  background-color: #fff;
  bottom: 0px;
  right: 100px;
  height: 400px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 6px 6px 0 0;
  padding: 15px;
  box-shadow: -2px -2px 4px 0px #ccc;
  z-index: 100000;
}
#help-container h1 {
  text-transform: uppercase;
  font-size: 0.85em;
  margin: 0;
  color: #888;
  font-weight: bold;
  text-align: center;
}
#help-container .links {
  margin: 8px 0 8px 0;
}
#help-container .command {
  position: absolute;
  right: 15px;
  top: 5px;
}
#help-container .command button {
  border: 0px;
}
#help {
  overflow: auto;
  height: 335px;
}
.ace_searchbtn,
.ace_replacebtn {
  font-size: 0.7em;
  padding: 4px !important;
}
#build-flags-container {
  text-align: right;
}
button[data-role="build-flag"] {
  margin-left: 10px;
}
button[data-role="build-flag"].selected {
  border: 2px solid #888;
}
.tt-menu {
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  line-height: 1.5em;
  border: solid 1px #eee;
  border-radius: 3px;
  margin-top: 3px;
  -webkit-box-shadow: 2px 2px 5px 0px #b5b5b5;
  -moz-box-shadow: 2px 2px 5px 0px #b5b5b5;
  box-shadow: 2px 2px 5px 0px #b5b5b5;
}
#metadata-tags-container {
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid 1px #eee;
  -webkit-column-count: 3;
  overflow: auto;
  max-height: 550px;
}
#metadata-tags-container label {
  display: inline-block;
  font-weight: normal;
  cursor: pointer;
  margin-left: 5px;
}
