.no-show {
  display: none;
}
#editor,
#result {
  position: absolute;
  bottom: 40px;
  padding: 10px;
}
#editor {
  left: 10px;
  border-right: solid 1px #eeeeee;
  top: 90px;
}
#result {
  top: 90px;
  padding-top: 0px;
  overflow: auto;
}
#result h1:first-child {
  margin-top: 0;
}
#split-controller {
  position: absolute;
  display: block;
  color: #cccccc;
  background-color: pink;
  cursor: pointer;
  right: 2px;
  height: 88%;
}
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 10px;
  border-top: solid 1px #eeeeee;
  color: #cccccc;
}
#footer:hover {
  background-color: #eeeeee;
}
#file-name-button {
  border: 0;
  box-shadow: none;
  padding: 0;
  height: auto;
  color: #888888;
  background-color: transparent;
}
#formatting-toolbar {
  top: 0;
  padding: 10px;
  height: 45px;
  width: 100%;
  color: #888888;
  min-width: 660px;
  border-bottom: solid 1px #eeeeee;
}
#formatting-toolbar button {
  background-color: transparent;
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px;
}
#formatting-toolbar button:hover {
  background-color: #eeeeee;
}
#formatting-toolbar .separator {
  color: #f1f1f1;
}
#formatting-toolbar .separator:after {
  content: "|";
}
#lw-tab-container {
  position: relative;
  background: url(images/diagonal-lines.png);
}
#lw-tab-container .lw-tabs {
  width: 98%;
  height: 28px;
  overflow: hidden;
  z-index: 200;
}
#lw-tab-container .lw-tabs .lw-tab {
  position: relative;
  display: inline;
  border: solid 1px #eeeeee;
  border-bottom: 0;
  border-radius: 3px 3px 0;
  padding: 4px;
  margin: 0 2px 0 2px;
  font-size: 11px;
  background-color: #fbfbfb;
  color: #888888;
  cursor: pointer;
  line-height: 3em;
  font-weight: normal;
}
#lw-tab-container .lw-tabs .lw-tab:hover {
  background-color: #eeeeee;
}
#lw-tab-container .lw-tabs .lw-tab button {
  border: 0;
  padding: 2px;
  margin: 0;
  background-color: transparent;
  font-size: 12px;
}
#lw-tab-container .lw-tabs .lw-tab button:hover {
  color: #cc0033;
}
#lw-tab-container .lw-tabs .active {
  border-bottom: 3px solid #ffffff;
  background-color: #ffffff;
  z-index: 300;
  color: #6f6f6f;
  font-weight: bold;
}
#lw-tab-container .lw-tabs .active:hover {
  background-color: #ffffff;
  border-bottom: inherit;
}
#lw-tab-container .lw-separator {
  position: relative;
  display: block;
  border-top: 1px solid #eeeeee;
  width: 100%;
  height: 1px;
  z-index: 100;
  top: 28px;
}
.admonitionblock {
  margin: 20px 0 20px 0;
}
.admonitionblock .icon .title {
  display: none;
}
.admonitionblock .content {
  border-left: 8px solid #eeeeee;
  padding-left: 10px;
}
.admonitionblock .content .title {
  font-weight: bold;
}
.misspelled {
  border-bottom: 1px solid #cc0033;
  margin-bottom: -1px;
}
.ace_marker-layer .misspelled {
  position: absolute;
  z-index: -2;
  border-bottom: 1px solid #cc0033;
  margin-bottom: -1px;
}
#help-container {
  position: fixed;
  background-color: #ffffff;
  bottom: 0px;
  right: 100px;
  height: 400px;
  width: 400px;
  border: 1px solid #cccccc;
  border-radius: 6px 6px 0 0;
  padding: 15px;
  box-shadow: -2px -2px 4px 0px #cccccc;
  z-index: 100000;
}
#help-container h1 {
  text-transform: uppercase;
  font-size: 0.85em;
  margin: 0;
  color: #888888;
  font-weight: bold;
  text-align: center;
}
#help-container .links {
  margin: 8px 0 8px 0;
}
#help-container .command {
  position: absolute;
  right: 15px;
  top: 5px;
}
#help-container .command button {
  border: 0px;
}
#help {
  overflow: auto;
  height: 335px;
}
.ace_searchbtn,
.ace_replacebtn {
  font-size: 0.7em;
  padding: 4px !important;
}
#build-flags-container {
  text-align: right;
}
button[data-role="build-flag"] {
  margin-left: 10px;
}
button[data-role="build-flag"].selected {
  border: 2px solid #888888;
}
