#editor,
#result {
  position: absolute;
  bottom: 40px;
  padding: 10px;
}
#editor {
  left: 10px;
  border-right: solid 1px #eeeeee;
  top: 50px;
  width: 49%;
}
#result {
  top: 50px;
  left: 50%;
  padding-top: 0px;
  overflow: auto;
  width: 50%;
}
#result h1:first-child {
  margin-top: 0;
}
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 10px;
  border-top: solid 1px #eeeeee;
  color: #cccccc;
}
#footer:hover {
  background-color: #eeeeee;
}
#file-name-button {
  border: 0;
  box-shadow: none;
  padding: 0;
  height: auto;
  color: #999;
  background-color: transparent;
}
